/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    float: left;
    border: 0;
    border-bottom: 3px solid #999;
    padding: 5px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0.5%;
    width: 32%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom: 3px solid #333;
}
